<!--[if lt IE 8]> <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p> <![endif]-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">ビシっと</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">展開後の選択肢がここに入れられる</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <p>
        <form action="" method="POST" name="form">
            <div class="input-group">
                <span class="input-group-addon" id="sizing-addon1">晴れ 07月10日（日） 2:36 -
                </span>
                <input type="text" class="form-control" placeholder="5:36" aria-describedby="sizing-addon1" name="empty_time">
                <input type="hidden" id="lat_form" name="lat" value="">
                <input type="hidden" id="lng_form" name="lng" value="">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">更新</button>
                </span>
            </div>
        </form>
    </p>
    <div class="panel panel-default" id="first-place">
        <div class="panel-heading">
            <h3 class="panel-title">場所の名前</h3>
        </div>
        <div class="panel-body">
            <p class="text-right">
                35
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </p>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://placehold.jp/240x180.png" width="80">
                    </a>
                </div>
                <div class="media-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <form action="" method="post" name="go-button">
                <!-- value = spot_id -->
                <input type="hidden" name="spot_id" value="1">
                <!-- 緯度・経度  -->
                <input type="hidden" id="lat_go-button" name="lat" value="">
                <input type="hidden" id="lng_go-button" name="lng" value="">
                <button type="button" class="btn btn-default pull-right go-button" aria-label="Left Align" onclick="go(1)">
                    行く
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </button>
            </form>
        </div>
        <div class="panel-footer">
            片道：30分、滞在時間：2時間
        </div>
    </div>
    <div class="panel panel-default" id="second-place">
        <div class="panel-heading">
            <h3 class="panel-title">場所の名前</h3>
        </div>
        <div class="panel-body">
            <p class="text-right">
                35
                <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
            </p>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="https://placehold.jp/240x180.png" width="80">
                    </a>
                </div>
                <div class="media-body">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <form action="" method="post" name="go-button">
                <!-- value = spot_id をバインド -->
                <input type="hidden" name="spot_id" value="1">
                <!-- 緯度・経度  -->
                <input type="hidden" id="lat_go-button" name="lat" value="">
                <input type="hidden" id="lng_go-button" name="lng" value="">
                <button type="button" class="btn btn-default pull-right go-button" aria-label="Left Align" onclick="go(2)">
                    行く
                    <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                </button>
            </form>
        </div>
        <div class="panel-footer">
            片道：30分、滞在時間：2時間
        </div>
    </div>
</div>
<canvas class="fireworks"></canvas>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/1.0.0/anime.min.js"></script>
<%= javascript_include_tag 'location' %>
<%= javascript_include_tag 'choose' %>
